# Ignore all binary files
*.dll
*.exe
*.pdb
*.suo
*.user
*.zip
*.7z

# Ignore all build directories
[Bb]in/
[Oo]bj/

# Ignore user-specific files
*.csproj.user

# Ignore VS Code specific files
.vscode/

# Ignore VS specific files
.vs/

# Ignore keys
.keys/
