@page "/editevent/{id:int}"
@model POLK_DOTNET.Pages.EditEventModel
@{
    ViewData["Title"] = "Edit Event";
}

<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-8">Edit Event</h1>

    <form method="post" class="space-y-4">
        <input type="hidden" asp-for="Event.Id" />
        <input type="text" asp-for="Event.Title" class="w-full px-4 py-2 border rounded-md" placeholder="Title" required />
        <div>
            <label asp-for="Event.StartDate" class="block text-sm font-medium text-gray-700">Start Date</label>
            <input type="date" asp-for="Event.StartDate" class="w-full px-4 py-2 border rounded-md" required />
        </div>
        <div>
            <label asp-for="Event.EndDate" class="block text-sm font-medium text-gray-700">End Date (optional)</label>
            <input type="date" asp-for="Event.EndDate" class="w-full px-4 py-2 border rounded-md" />
        </div>
        <input type="text" asp-for="Event.Time" class="w-full px-4 py-2 border rounded-md" placeholder="Time" required />
        <input type="text" asp-for="Event.Type" class="w-full px-4 py-2 border rounded-md" placeholder="Type" required />
        <textarea asp-for="Event.Description" class="w-full px-4 py-2 border rounded-md" placeholder="Description" required></textarea>
        <input type="text" asp-for="Event.Location" class="w-full px-4 py-2 border rounded-md" placeholder="Location" />
        <input type="number" asp-for="Event.Participants" class="w-full px-4 py-2 border rounded-md" placeholder="Participants" />
        <input type="number" asp-for="Event.MaxParticipants" class="w-full px-4 py-2 border rounded-md" placeholder="Max Participants" />
        <select asp-for="Event.Color" class="w-full px-4 py-2 border rounded-md">
            <option value="">Select a color...</option>
            <option value="bg-red-500" class="bg-red-500 text-white">Red</option>
            <option value="bg-blue-500" class="bg-blue-500 text-white">Blue</option>
            <option value="bg-green-500" class="bg-green-500 text-white">Green</option>
            <option value="bg-yellow-500" class="bg-yellow-500 text-black">Yellow</option>
            <option value="bg-indigo-500" class="bg-indigo-500 text-white">Indigo</option>
            <option value="bg-purple-500" class="bg-purple-500 text-white">Purple</option>
            <option value="bg-pink-500" class="bg-pink-500 text-white">Pink</option>
            <option value="bg-gray-700" class="bg-gray-700 text-white">Gray</option>
            <option value="bg-teal-500" class="bg-teal-500 text-white">Teal</option>
            <option value="bg-orange-500" class="bg-orange-500 text-white">Orange</option>
        </select>
        <button type="submit" class="px-4 py-2 text-white bg-red-700 rounded-md">Save Changes</button>
    </form>
</div>